<!DOCTYPE html>
<html data-ng-app="AngularApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular first time</title>
    <script src="js/angular.min.js"></script>
    <script src="js/ng.js"></script>
</head>
<body>

<div class="container" data-ng-controller="peopleListController">
    Name:
    <br />
    <input type="text" data-ng-model="name" /> {{ name }}

    <br/><br/>
    <ul>
        <li data-ng-repeat="person in people | filter:name | orderBy:'city'">
            {{ person.name }} - {{ person.city }}
        </li>
    </ul>
</div>

</body>
</html>